PIHOLE_INTERFACE={{ pihole_install_interface }}
PIHOLE_DNS_1={{ pihole_dns_upstream[0] }}
{% if pihole_dns_upstream | length > 1 %}
PIHOLE_DNS_2={{ pihole_dns_upstream[1] }}
{% endif %}
QUERY_LOGGING=true
INSTALL_WEB_SERVER=true
INSTALL_WEB_INTERFACE=true
LIGHTTPD_ENABLED=true
CACHE_SIZE=10000
DNS_FQDN_REQUIRED=true
DNS_BOGUS_PRIV=true
DNSMASQ_LISTENING={{ pihole_dns_listening_mode }}
DNSSEC=false
REV_SERVER=false
BLOCKING_ENABLED=true
